<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Jejik\MT940 Test Suite">
            <directory>./tests/Jejik/Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
